@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    --blue:#989cb8;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s cubic-bezier(.37,1.14,.26,1.24);
}

*::selection{
    background:#ff3300;
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn{
    height: 40px;
    width: 14rem;
    background:var(--blue);
    color:#fff;
    font-size: 20px;
    cursor: pointer;
    border:none;
    outline: none;
}

.btn:hover{
    letter-spacing: .2rem;
    opacity: .8;
}

.heading{
    padding-top: 70px;
    width: 95%;
    border-bottom: .2rem solid rgba(0,0,0,.3);
    margin:0 auto;
}

.heading span{
    font-size: 20px;
    padding:10px 60px;
    color:#fff;
    background:var(--blue);
    border-top-right-radius: 3rem;
    display: inline-block;
}

header .header-1, header .header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem;
    width: 100%;
    z-index: 1000;
}

header .header-1 .logo{
    font-size: 2rem;
    color:#666;
}

header .header-1 .logo i{
    color:var(--blue);
}

header .header-1 .form-container form{
    display: flex;
}

header .header-1 .form-container form #search{
    height: 4rem;
    width: 50rem;
    outline: none;
    border:.2rem solid #666;
    font-size: 1.5rem;
    padding:0 1rem;
}

header .header-1 .form-container form #search:focus{
    border-color: var(--blue);;
}

header .header-1 .form-container form label{
    height: 4rem;
    width: 5rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    cursor: pointer;
    background: var(--blue);
    color:#fff;
}

header .header-1 .form-container form label:hover{
    color:yellow;
}

header .header-2{
    background:var(--blue);
}

header .header-2 .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-2 .navbar ul li{
    padding: 0 10px;
}

header .header-2 .navbar ul li a{
    font-size: 20px;
    color:#dbcd53;
}

header .header-2 .navbar ul li a.active,
header .header-2 .navbar ul li a:hover{
    color:#e0e4ec;
}

header .header-2 .icons a{
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

header .header-2 .icons a:hover{
    color:yellow;
}

header .header-2 #menu{
    font-size: 30px;
    color:#fff;
    cursor: pointer;
    display: none;
}

header .header-2.header-active{
    position: fixed;
    top:0; left: 0;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}


.title h2{
    color:white;
    font-size:75;
    width:1130px;
    margin: 30px auto;
    text-align: center;
}

.box
{
   display: flex;
   justify-content: center;
   align-items: center
   min-height: 400px;
}

.card{
   height: 365px;
   width: 335px;
   padding: 20px 35px;
   background: #191919;
   border-radius: 20px;
   margin: 15px;
   position: relative;
   overflow: hidden;
   text-align: center;
}
  
.car i{
   font-size:50px;
   display:block;
   text-align: center;
   margin: 25px; 0px;
   color:white;
}
h5{
   color:white;
   font-size:23px;
   margin: bottom 15px;
}

.para p{
   color:#fcfc;
   font-size:16px;
   line: height 27px;
   margin-bottom: 25px;
}

.card .button{
   background-color:#f9004d;
   color:white;
   text-decoration:none;
   border:2px solid transparent;
   font-weight: bold;
   padding:9px 22px;
   border-radius:30px;
   transition:.4s;
}
.card .button:hover{
   background-color:transparent;
   border:2px solid;
   cursor: pointer;
}


/* media queries  */

@media (max-width:768px){

    html{
        font-size: 55%;
    }
    
    header .header-1 .form-container form #search{
        width: 100%;
    }

    header .header-2 #menu{
        display: block;
    }

    header .header-2 .navbar{
        position: fixed;
        top: -200rem; left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 100vh rgba(0,0,0,.3);
        z-index: 10000;
        opacity: 0;
    }

    header .header-2 .navbar ul{
        flex-flow: column;
        background: linear-gradient(var(--blue), blueviolet);
        border:.2rem solid #fff;
        box-shadow: 0 .3rem .5rem #000;
        padding:4rem 0;
        width: 27rem;
    }

    header .header-2 .navbar ul li{
        width: 100%;
        margin:1rem 0;
        text-align: center;
    }

    header .header-2 .navbar ul li a{
        font-size: 2.5rem;
        display: block;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .header-2 .nav-toggle{
        top:50%;
        opacity: 1;
    }

    .arrival .box-container{
        width: auto;
    }

}

@media (max-width:600px){

    html{
        font-size: 50%;
    }

    .home .home-slider .item .content h3{
        font-size: 3rem;
    }

    .home .home-slider .item .content p{
        font-size: 2rem;
        width: auto;
    }

    .feature .row .image-container{
        flex-flow: column wrap;
    }

    .feature .row .image-container .small-image{
        flex-flow: row wrap;
        padding-bottom: 2rem;
    }

    .feature .row .content{
        padding:2rem;
        border-top: .1rem solid rgba(0,0,0,.3);
    }

    .feature .row .content p{
        width: auto;
    }

    .feature .row .content .btn{
        margin: 2rem 0;
    }

}


@media (max-width:400px){

    html{
        font-size: 45%;
    }

    header .header-1{
        flex-flow: column;
        padding:1rem;
    }

    header .header-1 .logo{
        padding-bottom: 1.5rem;
    }

}

/*  */

/* .home .home-slider .item{
    position: relative;
}

.home .home-slider .item img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.home .home-slider .item .content{
    position: absolute;
    top:50%; left: 5%;
    transform: translateY(-50%);
}

.home .home-slider .item .content h3{
    color:#fff;
    text-shadow: 0 .3rem .5rem #000;
    font-size: 5rem;
    text-transform: uppercase;
}

.home .home-slider .item .content p{
    color:#fff;
    font-size: 2.5rem;
    padding:2rem 0;
    width: 50rem;
}

.home .owl-carousel .owl-prev, .home .owl-carousel .owl-next{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    outline: none;
}

.home .owl-carousel .owl-prev{
    left: 1.3rem;;
}

.home .owl-carousel .owl-next{
    right:1.3rem;;
}

.home .owl-carousel .owl-prev span, .home .owl-carousel .owl-next span{
    color:#fff;
    font-size: 7rem;
}
 */


